<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mis Obras</title>
  <link rel="stylesheet" href="/static/movil/style_movil.css">
</head>
<body>
  <header>Mis obras</header>
  <div class="container">
    <div class="card">
      <img src="/static/uploads/lady_masacre.jpg" alt="Lady Masacre">
      <h2>Lady Masacre</h2>
      <p><em>Agregado el 2025-11-10</em></p>
      <button>Quitar de mi colección</button>
    </div>
  </div>

  <div class="navbar">
    <a href="/movil/home.html">🏠</a>
    <a href="/movil/mis_obras.html" class="active">📚</a>
    <a href="/movil/admin.html">⚙️</a>
  </div>
</body>
</html>
