<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style_admin.css') }}">
</head>
<body>

{% if not hide_navbar %}
<nav>
  <a class="logo" href="/">Mario Mendoza</a>
  <div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/login">Login</a>
    <a href="/register">Registro</a>

    <form method="get" action="/" class="search-form">
      <input type="text" name="q" placeholder="Buscar obra...">
      <button type="submit">Buscar</button>
    </form>
  </div>
</nav>

{% endif %}

{% block content %}{% endblock %}
</body>
</html>
