{% extends "base.html" %}
{% block title %}Desarrollador{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/style_info.css">

<section class="dev-boceto">
  <div class="dev-card-centered">
    <img src="/static/img/autor.jpg" alt="Imagen del desarrollador">
    <div class="dev-datos">
      <p><strong>Nombre:</strong> Juan Pablo Torres</p>
      <p><strong>Código:</strong> 67001446</p>
      <p><strong>Email:</strong> jptorres46@ucatolica.edu.co</p>
    </div>
  </div>
</section>
{% endblock %}
