<footer class="main-footer">
  <link rel="stylesheet" href="/static/css/style_footer.css">
  <div class="footer-left">
    <a href="/desarrollador">
      <img src="/static/img/autor.jpg" alt="Autor">
    </a>
    <div class="footer-contacto">
      <p><strong>Nombre:</strong> Juan Pablo Torres Niño</p>
      <p><strong>Código:</strong> 67001446</p>
      <p><strong>Email:</strong> jptorres46@ucatolica.edu.co</p>
    </div>
  </div>
  <div class="footer-links">
    <a href="/diseno">Diseño</a>
    <a href="/planeacion">Planeación</a>
    <a href="/desarrollador">Desarrollador</a>
  </div>
</footer>
