{% extends "base.html" %}
{% block title %}Planeación{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/style_info.css">

<section class="info-section">
  <h2>Planeación</h2>
  <ul>
    <li><strong>Casos de uso:</strong> Registrar, consultar, modificar y eliminar obras literarias</li>
    <li><strong>Modelo de datos:</strong> Obra(id, título, año, sinopsis, activo, imagen_url)</li>
    <li><strong>Fuente de los datos:</strong> Obras de Mario Mendoza, recolectadas manualmente</li>
  </ul>
</section>
{% endblock %}
